
form#tt-track .form-item {
  float: left;
}

form#tt-track .form-submit {
  float: right;
  height: 40px;
}

.tt-table .timestamp {
  color: #BBBBBB;
}

.tt-table .current-user {
  background-color: #F5FFF5;
}

.tt-table .total {
  background-color: #FCF0F0;
  font-weight: bold;
}
